

<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">
		<span class="glyphicon glyphicon-question-sign"></span>{{modalOptions.headerText}}
	</h4>
</div>

<div class="modal-body" style="color:gray;">
   
  <h4> <b>{{modalOptions.bodyText}}</b> ?</h4>
   
</div>
 <div class="modal-footer">
		<button class="btn btn-deafult" ng-click="modalOptions.close()"><i class="fa fa-times"></i>&nbsp; {{modalOptions.closeButtonText}}</button>
		<button type="submit" class="btn btn-info" ng-click="modalOptions.ok()"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{modalOptions.actionButtonText}}</button>
</div>
